/* ACORDEÓN DEL BESTIARIO */
.acordeon-bestiario {
    display: flex;
    flex-direction: column; /* De entrada, las bestias van una debajo de otra (Mobile First) */
    gap: 15px;
    width: 100%;
    height: 700px; /* si no hay altura fija, las tarjetas no tienen espacio para estirarse */
    padding: 10px;
}

.acordeon-item-card {
    flex: 1; /* Todas las bestias empiezan midiendo lo mismo */
    
    /* TRUCO PARA LAS IMÁGENES: */
    background-size: contain; /* La criatura se ve COMPLETA */
    background-repeat: no-repeat; 
    background-position: center;
    background-color: var(--alquitran); /* Rellena con negro los huecos que deje el 'contain' */
    
    border-radius: 15px;
    overflow: hidden;
    /* transición con una velocidad personalizada */
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* El texto siempre se queda abajo, esperando a ser revelado */
    padding: 20px;
    border: 1px solid var(--oro);
    position: relative;
}

/* Cuando pasas el mouse, esta tarjeta se "come" el espacio de las demás */
.acordeon-item-card:hover {
    flex: 30; /* Pasa de peso 1 a peso 30 de golpe */
}

/* Capa oscura para que el texto blanco se lea perfecto sobre cualquier bestia */
.acordeon-item-card::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    z-index: 1;
}

.bestia-desc {
    position: relative;
    z-index: 2; /* El texto por encima de la capa oscura */
    color: var(--marfil);
}

/* Escondemos la descripción mientras la tarjeta está cerrada */
.bestia-desc p, .bestia-desc strong {
    max-height: 0;
    opacity: 0;
    transition: 0.4s ease;
    margin: 0;
}

/* Al hacer hover, "aparece" el texto con un efecto de despliegue */
.acordeon-item-card:hover .bestia-desc p,
.acordeon-item-card:hover .bestia-desc strong {
    max-height: 100px;
    opacity: 1;
    margin-top: 8px;
}

/* ADAPTACIÓN A PC */
@media (min-width: 992px) {
    .acordeon-bestiario {
        flex-direction: row; /* En PC, el acordeón se abre de lado (horizontal) */
        height: 500px;
    }
}